# Required
PROXY_HOST=your-proxy-domain.com

# Optional credentials
TMDB_API_KEY=
TVDB_API_KEY=
TVDB_PIN=

# Optional test parameters
TMDB_MOVIE_ID=109445
TMDB_IMAGE_PATH=piD4UjudoM5AfBAO3Rzy8IEuWsH.jpg
TMDB_IMAGE_SIZE=original
TMDB_APPEND_TO_RESPONSE=alternative_titles,reviews,casts,releases,images,keywords,trailers
TMDB_INCLUDE_IMAGE_LANGUAGE=zh-CN,null
TVDB_ARTWORK_PATH=banners/movies/103937/backgrounds/103937.jpg
REQUEST_TIMEOUT_MS=30000
